/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    padding: 0.2em 0;
    background: #ccc;
    color: #000;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	container: '';
	container: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
/************************************************************************

Classes CSS

************************************************************************/
*{
	-moz-box-sizing: border-box;
	
	box-sizing: border-box;
}
a{
	color:#08c;
	text-decoration: none;
}
a:hover{
	color:#08c;
	text-decoration:underline;
}
.row{
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 40px;
	padding-top: 5%;
}
.row:before, .row:after {
	display: table;
	content: '';
	line-height: 0;
}
.row:after {
	clear: both;
}
.row p{
	font-family: "source-sans-pro";
	font-size: 18px;
	font-weight: 300;
	color:#6c6c6c;
	line-height: 24px;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
	float: left;
	margin: 0 2% 0 0;	
}
.last{
	margin: 0;	
}

.col-12{
	width:99%;
}
.col-11{
	width:90.5%;
}
.col-10{
	width:82%;
}
.col-9{
	width:73.5%;
}
.col-8{
	width:65%;
}
.col-7{
	width:56.5%;
}
.col-6{
	width:48%;
}
.col-5{
	width:39.5%;
}
.col-4{
	width:31%;
}
.col-3{
	width:22.5%;
}
.col-2{
	width: 14%;
}
.col-1{
	width:5.5%;
}
.container{
	z-index:-1;
	display:block;
	overflow:hidden;
	margin:0 auto;
	max-width:980px;
	width:100%;
}
.section_header{
	display:block;
	overflow:hidden;
	margin:5% 0 5% 0;
	width:100%;
}
.section_header h1{ 
	padding-top:20px;
	color:#666666;
	text-align:center;
	font-size:40px;
	line-height: 50px;
	font-family:"museo-slab","Arial";
}
.rule{
	position:relative;
	top:-45px;
	z-index:-1;
	display:block;
	overflow:hidden;
	width:100%;
	height:20px;
	background-image:url(../slices/sectionLine.png);
	background-repeat:no-repeat;
}
.clear{
	clear:both;
}
.btn{
	font-size: 17px;
	text-align: center;
	display:inline-block;
	font-family: "source-sans-pro";
	font-weight: 400;
	line-height: 50px;
	color:#383838;
	background: #999999;
	text-decoration: none;
	list-style: none;
	letter-spacing: 1px;
	border-radius: 4px;
}
.btn:hover{
	background: #444444;
	color:#ffffff;
	cursor: pointer;
}
.btn-large{
	width: 94%;
}
.no_hero_shot{
	margin-top: 120px;
}
.no_border{
	border: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: "source-sans-pro";
	color:#6c6c6c;
	margin-bottom: 15px;
}

h1{
	font-size: 50px;
	font-weight: 600;
}
h2{
	font-size: 22px;
	font-weight: 100;
	line-height: 26px;
}
h4{
	font-size: 35px;
	font-weight: 500;
}
img{
	max-width: 100%;
}
.img_center{
	display: block;
	margin: 0 auto;
}
p{
	margin-bottom: 30px;
}
.copy_block{
	padding-top: 5%;
}
.copy_block_header{
	margin-bottom:5%;
}
.screen{
	border-bottom: solid 1px #dddddd;
}
.screen img{
	display: block;
	margin: 0 auto;
}
section{
	min-height: 740px;
}
.center_text{
	text-align: center;
}
.hero_text{
	text-align: center;
}
.pagination{
	font-family: "source-sans-pro";
	border-top: dashed 1px #dddddd;
	border-bottom: dashed 1px #dddddd;
	padding-top:1%;	
	padding-bottom:1%;
}
.pagination a{
	text-decoration: none;
	list-style: none;	
	color:#6c6c6c;
}
.pagination a:hover{
	text-decoration: none;
	list-style: none;	
	color:#444444;
}

.next_project{
	float:right;
}
.prev_project{
	float:left;
}
.school_project_warning{
	font-family: "source-sans-pro";
	font-size: 12px;
	color:#666666;
	text-align: center;
}
@font-face {
    font-family: 'rawengulksansregular';
    src: url('..//fonts/rawengulksans-webfont.eot');
    src: url('..//fonts/rawengulksans-webfont.eot?#iefix') format('embedded-opentype'),
         url('..//fonts/rawengulksans-webfont.woff') format('woff'),
         url('..//fonts/rawengulksans-webfont.ttf') format('truetype'),
         url('..//fonts/rawengulksans-webfont.svg#rawengulksansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/************************************************************************

Header CSS

************************************************************************/
header{
	position:fixed;
	z-index:-1;
	z-index:777;
	margin:0;
	padding:0;
	max-height:97px;
	width:100%;
	height:75px;
	background-color:#f4f4f4;
	opacity: .98;

}
header #logo{
	font-family:rawengulksansregular;
	font-size: 40px;
	padding-top: 12px;
}
header #logo a{
	color:#777;
	text-decoration:none;
	display: block;
}
header #logo span{
	vertical-align: top;
	line-height:50px;
}
nav{
	display:block;
	overflow:hidden;
	max-width:960px;
	max-height:90px;
	width:100%;
	height:100%;
}
nav ul{
	float:right;
	display: block;
	overflow:hidden;
	margin:30px 0 0 0;
}
nav ul li{
	float:left;
	margin:0 0 0 40px;
	color:#888888;
	font-size:24px;
	font-weight: 500;
	font-family:"source-sans-pro";
}
nav ul li a:hover{
	color:#57875e;
}

.current a{
	color:#57875e;
}
nav ul li a{
	color:#777777;
	list-style:none;
	text-decoration:none;
}
#welcome{
	position: absolute;
	left:900px;
	top:10px;
}
.hero_shot img{
	display: block;
	width: 100%;
	margin:0;
}
/************************************************************************

Work CSS

************************************************************************/
#work{
	position:relative;
	z-index:1;
	margin:0;
	padding-bottom:20px;
	width:100%;
	background-color:#f4f4f4;
	min-height: 820px;
}
.work_col a{
	overflow: hidden;
	text-decoration: none;
	list-style: none;
	border:solid 1px #dddddd;
	display: block;
	padding: 25px 0 30px 0;
}
.work_col a:hover{
	background-color: #e6e6e6;
}

.project_title{
	font-family: "source-sans-pro";
	font-size: 20px;
	font-weight: 400;
	color:#666666;
	text-align: center;
	/*being used to overwrite parrallax margin on p tags*/	
	margin-bottom: 0;
	line-height: 40px;
}
.project_desc{
	font-family: "source-sans-pro";
	font-size: 14px;
	font-weight: 100;
	color:#666666;
	text-align: center;
	/*being used to overwrite parrallax margin on p tags*/	
	margin-bottom: 0;	
}
	

/************************************************************************

About CSS

************************************************************************/
#about{
	position:relative;
	z-index:1;
	margin:0 0 5% 0;
	padding:0;
	width:100%;
	background-color:white;
}
#aboutLand{
	float:left;
	margin-top:-100px;
	height:100px;
}
.about_copy p{
	color:#6c6c6c;
	text-align:justify;
	font-size:16px;
	font-weight: 300;
	font-family:"source-sans-pro";
	line-height: 23px;
	margin-bottom: 15px;
}
.about_img img{
	float: right;
}
.resume_btn{
	float: right;
	width: 94.5%;
	margin-top: 30px;
}

/************************************************************************

Contact CSS

************************************************************************/

#contact{
	position:relative;
	z-index:1;
	margin:0;
	padding-bottom:57px;
	width:100%;
	background-color:#DDDDDD;
	border-top:#333333;
	height:100%;
}
input,textarea{
	color:#6c6c6c;
	padding-left: 10px;
}
.form_required{
	font-family: "source-sans-pro";
	color:#883737;
	font-size:14px;
	font-weight: 300;
}
.contact_copy{
	font-family: "source-sans-pro";
	color:#6c6c6c;
	font-size:20px;
	font-weight: 300;
	width:100%;
	line-height: 25px;
	text-align: center;
	margin-bottom: 20px;
}
.social_media_col{
	float: right;
}
.contact_social_media{
	display: inline-block;
	width: 100%;
	margin-left: 12%;
}

.contact_social_media li{
	margin-right: 43px;
	float: left;
}

.contact_social_media i{
	font-size: 80px;
	color:#999999;
}
.contact_social_media i:hover{
	color:#444444;
}
.contact_form input{
	width:100%;
	height:40px;
	margin-bottom: 15px;
	border: solid 1px #dddddd;
}
.contact_form textarea{
	width:100%;
	margin-bottom: 15px;
	height:80px;
	border: solid 1px #dddddd;
}
.contact_form label{
	font-family: "source-sans-pro";
	color:#6c6c6c;
	font-size:18px;
	font-weight: 300;
}

.submit_btn{
	line-height: 40px;
}
.messages{
	color:#C00;
	font-size: 12px;
	float: right;
}
#thankYou{
	position:absolute;
	left:163px;
	top:300px;
	z-index:9999;
}
#thankYou h1{
	height: 150px;
	width: 340px;
	padding-top:30px 
}
/************************************************************************

footer CSS

************************************************************************/
footer{
	position:relative;
	width:100%;
	height:64px;
	background-color: #333333;
}
footer ul li{
	float:left;
}
#social{
	display:block;
	float:left;
	overflow:hidden;
	margin:15px 0 0 0;
}
#social ul li{
	margin-right:20px;
}
#copywrite{
	display:block;
	overflow:hidden;
	margin: 10px 0 0 0;
	padding-left:5px;
}
#copy{
	float:left;
	margin:15px 10px 0 0;
	color:#CCCCCC;
	font-size:14px;
	font-family:"museo-sans","Arial";	
}
#miniLogo{
	float:right;
	margin:0 0 0 ;
}