/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End Meyers Web Reset */
/* ---------------------------------- */
/* Global Styles */
/* ---------------------------------- */
.row {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.row:before,
.row :after {
  display: table;
  content: '';
  line-height: 0;
}
.row:after {
  clear: both;
}
.row_space_1 {
  padding-bottom: 10px;
}
.row_space_2 {
  padding-bottom: 20px;
}
.row_space_3 {
  padding-bottom: 30px;
}
.row_space_4 {
  padding-bottom: 40px;
}
.row_space_5 {
  padding-bottom: 50px;
}
.row_space_6 {
  padding-bottom: 60px;
}
.row_space_7 {
  padding-bottom: 70px;
}
.row_space_top_1 {
  padding-top: 10px;
}
.row_space_top_2 {
  padding-top: 20px;
}
.row_space_top_3 {
  padding-top: 30px;
}
.row_space_top_4 {
  padding-top: 40px;
}
.row_space_top_5 {
  padding-top: 50px;
}
.row_space_top_6 {
  padding-top: 60px;
}
.row_space_top_7 {
  padding-top: 70px;
}
.row_top_border {
  border-top: solid 1px #dddddd;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  margin: 0 1% 0 1%;
}
.last {
  margin: 0;
}
.col-12 {
  width: 99%;
}
.col-11 {
  width: 90.5%;
}
.col-10 {
  width: 82%;
}
.col-9 {
  width: 73.5%;
}
.col-8 {
  width: 65%;
}
.col-7 {
  width: 56.5%;
}
.col-6 {
  width: 48%;
}
.col-5 {
  width: 39.5%;
}
.col-4 {
  width: 31%;
}
.col-3 {
  width: 22.5%;
}
.col-2 {
  width: 14%;
}
.col-1 {
  width: 5.5%;
}
.content_wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main-site {
  position: relative;
  width: 100%;
  min-height: 630px;
  background-color: #f2f2f1;
}
@font-face {
  font-family: 'riddleregular';
  src: url('../fonts/riddle_script/riddle-script-webfont.eot');
  src: url('../fonts/riddle_script/riddle-script-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/riddle_script/riddle-script-webfont.woff') format('woff'), url('../fonts/riddle_script/riddle-script-webfont.ttf') format('truetype'), url('../fonts/riddle_script/riddle-script-webfont.svg#riddleregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url('../fonts/skyfonts-google/lato_regular-webfont.eot');
  src: url('../fonts/skyfonts-google/lato_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/skyfonts-google/lato_regular-webfont.woff') format('woff'), url('../fonts/skyfonts-google/lato_regular-webfont.ttf') format('truetype'), url('../fonts/skyfonts-google/lato_regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src: url('../fonts/skyfonts-google/lato_700-webfont.eot');
  src: url('../fonts/skyfonts-google/lato_700-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/skyfonts-google/lato_700-webfont.woff') format('woff'), url('../fonts/skyfonts-google/lato_700-webfont.ttf') format('truetype'), url('../fonts/skyfonts-google/lato_700-webfont.svg#latobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoblack';
  src: url('../fonts/skyfonts-google/lato_900-webfont.eot');
  src: url('../fonts/skyfonts-google/lato_900-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/skyfonts-google/lato_900-webfont.woff') format('woff'), url('../fonts/skyfonts-google/lato_900-webfont.ttf') format('truetype'), url('../fonts/skyfonts-google/lato_900-webfont.svg#latoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latolight';
  src: url('../fonts/skyfonts-google/lato_300-webfont.eot');
  src: url('../fonts/skyfonts-google/lato_300-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/skyfonts-google/lato_300-webfont.woff') format('woff'), url('../fonts/skyfonts-google/lato_300-webfont.ttf') format('truetype'), url('../fonts/skyfonts-google/lato_300-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latohairline';
  src: url('../fonts/skyfonts-google/lato_100-webfont.eot');
  src: url('../fonts/skyfonts-google/lato_100-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/skyfonts-google/lato_100-webfont.woff') format('woff'), url('../fonts/skyfonts-google/lato_100-webfont.ttf') format('truetype'), url('../fonts/skyfonts-google/lato_100-webfont.svg#latohairline') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-size: 50px;
  font-family: "latolight";
  color: #383838;
  line-height: 58px;
  margin-bottom: 15px;
}
h3 {
  font-size: 22px;
  font-family: Arial;
  color: #383838;
}
p {
  font-size: 18px;
  line-height: 24px;
  color: #383838;
  font-family: 'latolight';
  margin-bottom: 30px;
}
p:last-child {
  margin-bottom: 0;
}
.site-header {
  height: 100px;
  background-color: #ffffff;
  width: 100%;
}
.main-nav {
  text-align: center;
  z-index: 2;
  padding: 0 15px;
}
.main-nav .main-nav-logo {
  font-size: 60px;
  font-family: 'riddleregular';
  float: left;
  line-height: 100px;
  margin-bottom: 0;
}
.main-nav .main-nav-right {
  float: right;
}
.main-nav .main-nav-right ul li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 0 25px;
}
.main-nav .main-nav-right ul li a {
  display: inline-block;
  font-family: "latolight";
  font-size: 18px;
  text-decoration: none;
  line-height: 100px;
  color: #383838;
}
.main-nav .main-nav-right ul li a:hover {
  color: #e3a712;
}
.main-nav .main-nav-right .nav_current {
  color: #e3a712;
}
a {
  text-decoration: none;
  color: #383838;
}
.center {
  text-align: center;
}
.page_title {
  text-align: center;
}
.site-footer {
  bottom: 0;
  width: 100%;
  background-color: #fe7c60;
  display: table;
}
.site-footer .legal p {
  font-family: "latolight";
  font-size: 14px;
  width: 100%;
  text-align: left;
  line-height: 100px;
}
.site-footer .logo a {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-family: 'riddleregular';
  float: left;
  line-height: 100px;
  margin-bottom: 0;
}
.site-footer .footer_nav {
  text-align: right;
}
.site-footer .footer_nav ul {
  display: inline-block;
}
.site-footer .footer_nav ul li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
}
.site-footer .footer_nav ul li a {
  display: inline-block;
  font-family: "latolight";
  font-size: 14px;
  text-decoration: none;
  line-height: 100px;
  color: #383838;
}
.site-footer .footer_nav ul li a:hover {
  color: #fff;
}
.site-footer .footer_nav .nav_current {
  color: #fff;
}
/* End Global Styles */
/* ---------------------------------- */
/* Home Styles */
/* ---------------------------------- */
.project_description {
  top: 10%;
  padding-left: 10%;
  padding-top: 100px;
  width: 550px;
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 42%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(42%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 42%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 42%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 42%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 42%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */

  height: 100%;
}
.project_description h1 {
  width: 300px;
  padding-top: 80px;
  padding-bottom: 15px;
  color: #ffffff;
}
.project_description p {
  width: 300px;
  color: #ffffff;
}
.project_description .view_project a {
  display: inline-block;
  font-family: "latolight";
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #e3a712;
  border-radius: 4px;
  padding: 10px 25px;
  color: #fff;
}
.project_description .view_project a:hover {
  background-color: #e3a712;
  color: #fff;
  cursor: pointer;
}
#arrow_left,
#arrow_right {
  height: 50px;
  position: absolute;
  width: 50px;
  z-index: 1000;
  top: 50%;
}
#arrow_left {
  left: 10px;
  background-image: url(../img/_assets/prev_arrow.png);
  background-repeat: no-repeat;
}
#arrow_left:hover {
  left: 10px;
  background-image: url(../img/_assets/prev_arrow_hover.png);
  background-repeat: no-repeat;
}
#arrow_right {
  right: 10px;
  background-image: url(../img/_assets/next_arrow.png);
  background-repeat: no-repeat;
}
#arrow_right:hover {
  right: 10px;
  background-image: url(../img/_assets/next_arrow_hover.png);
  background-repeat: no-repeat;
}
/* End Home Styles */
/* ---------------------------------- */
/* Work Styles */
/* ---------------------------------- */
/* ---- isotope ---- */
.work_images_wrapper {
  margin-left: 15px;
}
.isotope {
  margin: 0 auto;
}
/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- .item ---- */
.item {
  float: left;
  width: 687px;
  height: 500px;
  margin: 5px;
  background: #f1f1f1;
  border: 1px solid #ddd;
  overflow: hidden;
  background-color: white;
}
.item img {
  width: 110%;
}
.item a h3 {
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 3em !important;
  line-height: 70px;
  position: absolute;
  top: 35%;
  z-index: 3;
  opacity: 0;
  font-family: "latolight";
}
.item a:hover h3 {
  opacity: 0.99;
}
.item a:hover .bg {
  width: 100%;
  position: absolute;
  z-index: 3;
  height: 100%;
  display: block;
  background: transparent;
  background: rgba(0, 0, 0, 0.4);
}
.item.height2 {
  height: auto;
}
.item.height2 img {
  height: 575px;
  position: relative;
  right: 300px;
}
.work_filters {
  margin-left: 13%;
}
.work_filters ul li {
  display: inline-block;
  margin-right: 10px;
}
.work_filters ul li a {
  display: inline-block;
  font-family: "latolight";
  font-size: 18px;
  text-decoration: none;
  line-height: 30px;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 0 25px;
  color: #999;
}
.work_filters ul li a:hover {
  border: 1px solid #383838;
  color: #383838;
  cursor: pointer;
}
.is_active {
  background-color: #383838;
  border: 1px solid #383838 !important;
  color: #ffffff !important;
}
/* End Work Styles */
/* ---------------------------------- */
/* Project Detail Styles */
/* ---------------------------------- */
.hero_shot {
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.project_header {
  z-index: 9999;
}
.project_header h1 {
  width: 700px;
  padding-bottom: 70px;
  color: #383838;
  margin: 0 auto;
  text-align: center;
}
.project_header p {
  width: 700px;
  color: #383838;
  margin: 0 auto;
}
.scroll_indicator {
  text-align: center;
  font-size: 14px;
  font-family: Arial;
  position: relative;
  top: 200px;
}
.scroll_indicator a {
  color: #ffffff;
}
.scroll_indicator img {
  margin-top: 5px;
}
.project_slider_wrapper {
  /*I want to style my pager*/

}
.project_slider_wrapper #project_gallery_prev,
.project_slider_wrapper #project_gallery_next {
  margin-top: 285px;
  position: absolute;
  z-index: 1000;
  height: 50px;
  width: 50px;
}
.project_slider_wrapper #project_gallery_prev {
  left: 10px;
  background-image: url(../img/_assets/prev_arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}
.project_slider_wrapper #project_gallery_prev:hover {
  left: 10px;
  background-image: url(../img/_assets/prev_arrow_hover.png);
  background-repeat: no-repeat;
}
.project_slider_wrapper #project_gallery_next {
  right: 10px;
  background-image: url(../img/_assets/next_arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}
.project_slider_wrapper #project_gallery_next:hover {
  right: 10px;
  background-image: url(../img/_assets/next_arrow_hover.png);
  background-repeat: no-repeat;
}
.project_slider_wrapper .project_slider {
  height: 600px;
  width: 100%;
  overflow: hidden;
}
.project_slider_wrapper #maximage {
  position: relative !important;
  z-index: 1;
}
.project_slider_wrapper .light-text {
  color: #ddd;
  text-shadow: 0 1px 0 #666;
}
.project_slider_wrapper .smaller-text {
  font-size: 30px;
}
.project_slider_wrapper .youtube-video,
.project_slider_wrapper video {
  left: 0;
  position: absolute;
  top: 0;
}
.project_slider_wrapper .video {
  background-color: black;
  height: 100%;
  width: 100%;
}
.project_slider_wrapper .project_slider_thumbnails ul li {
  height: 98px;
  margin: 20px 10px;
  overflow: hidden;
}
.project_slider_wrapper .project_slider_thumbnails ul li.activeSlide {
  border: 3px solid #e3a712;
}
#images_videos {
  padding: 60px 0;
}
.pagination {
  font-family: "latolight";
}
.pagination .next_project {
  line-height: 70px;
  text-align: center;
}
.pagination .next_project a:hover {
  opacity: .5;
}
.pagination .prev_project {
  line-height: 70px;
  border-right: solid 1px #dddddd;
  text-align: center;
}
.pagination .prev_project a:hover {
  opacity: .5;
}
.pagination a {
  color: #e3a712;
}
/* End Project Styles */
/* ---------------------------------- */
/* About Styles */
/* ---------------------------------- */
.about_img {
  height: 500px;
  overflow: hidden;
}
/* End About Styles */
/* ---------------------------------- */
/* Contact Styles */
/* ---------------------------------- */
#contact_form {
  width: 300px;
  padding: 20px;
  border: 1px solid #DDD;
  border-radius: 5px;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  color: #666666;
  background: #fff;
  margin-right: auto;
  margin-left: auto;
  font-family: "latolight";
}
#contact_form legend {
  font-size: 15px;
  color: #C9C9C9;
}
#contact_form label {
  display: block;
  font-size: 14px;
}
#contact_form label span {
  float: left;
  width: 100px;
  color: #666666;
  margin-top: 15px;
  margin-bottom: 5px;
  line-height: 16px;
}
#contact_form input {
  height: 50px;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #ddd;
  border-radius: 3px;
  padding-left: 4px;
  color: #666;
  width: 500px;
  font-size: 25px;
  font-family: "latolight";
}
#contact_form textarea {
  border: 1px solid #ffffff;
  border-bottom: 1px solid #ddd;
  border-radius: 3px;
  padding-left: 4px;
  color: #666;
  height: 100px;
  width: 500px;
  font-size: 25px;
  font-family: "latolight";
  resize: vertical;
}
.submit_btn {
  border: 1px solid #D8D8D8;
  padding: 5px 15px 5px 15px;
  color: #8D8D8D;
  text-shadow: 1px 1px 1px #FFF;
  border-radius: 3px;
  background: #F8F8F8;
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-family: "latolight";
  font-size: 25px;
}
.submit_btn:hover {
  background: #ECECEC;
}
.success {
  background-color: #9dd892;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #9dd892;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
}
.error {
  background: #d89292;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #d89292;
  color: white;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  font-weight: normal;
}
/* End Contact Styles */
/* ---------------------------------- */
