// Custom fonts
@font-face {
  font-family: 'riddleregular';
  src: url('../fonts/riddle_script/riddle-script-webfont.eot');
  src: url('../fonts/riddle_script/riddle-script-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/riddle_script/riddle-script-webfont.woff') format('woff'), url('../fonts/riddle_script/riddle-script-webfont.ttf') format('truetype'), url('../fonts/riddle_script/riddle-script-webfont.svg#riddleregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url('../fonts/skyfonts-google/lato_regular-webfont.eot');
  src: url('../fonts/skyfonts-google/lato_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/skyfonts-google/lato_regular-webfont.woff') format('woff'), url('../fonts/skyfonts-google/lato_regular-webfont.ttf') format('truetype'), url('../fonts/skyfonts-google/lato_regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src: url('../fonts/skyfonts-google/lato_700-webfont.eot');
  src: url('../fonts/skyfonts-google/lato_700-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/skyfonts-google/lato_700-webfont.woff') format('woff'), url('../fonts/skyfonts-google/lato_700-webfont.ttf') format('truetype'), url('../fonts/skyfonts-google/lato_700-webfont.svg#latobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoblack';
  src: url('../fonts/skyfonts-google/lato_900-webfont.eot');
  src: url('../fonts/skyfonts-google/lato_900-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/skyfonts-google/lato_900-webfont.woff') format('woff'), url('../fonts/skyfonts-google/lato_900-webfont.ttf') format('truetype'), url('../fonts/skyfonts-google/lato_900-webfont.svg#latoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latolight';
  src: url('../fonts/skyfonts-google/lato_300-webfont.eot');
  src: url('../fonts/skyfonts-google/lato_300-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/skyfonts-google/lato_300-webfont.woff') format('woff'), url('../fonts/skyfonts-google/lato_300-webfont.ttf') format('truetype'), url('../fonts/skyfonts-google/lato_300-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latohairline';
  src: url('../fonts/skyfonts-google/lato_100-webfont.eot');
  src: url('../fonts/skyfonts-google/lato_100-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/skyfonts-google/lato_100-webfont.woff') format('woff'), url('../fonts/skyfonts-google/lato_100-webfont.ttf') format('truetype'), url('../fonts/skyfonts-google/lato_100-webfont.svg#latohairline') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-logo: 'riddleregular';
$font-light: 'latolight';



.font-logo{font-family:$font-logo; font-size:40px;}

.font-light{font-family:$font-light;}

a{
  text-decoration:none; 
}

.container{width:80rem; margin-left: auto; margin-right: auto;}
.sm-container{width:64rem; margin-left: auto; margin-right: auto;}

.header{position:fixed; top:0; right:0; left:0; background: #fff; box-shadow: 0 2px 4px rgba(0,0,0,.1); z-index: 200;}
// .header{background: #fff; box-shadow: 0 2px 4px rgba(0,0,0,.1); z-index: 200;}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

