
// Converted Variables

$width-1: 24rem !default;
$width-2: 32rem !default;
$width-3: 48rem !default;
$width-4: 64rem !default;
$width-5: 72rem !default;
$width-6: 80rem !default;

// Custom Media Query Variables


/* Basscss Layout */

.inline       { display: inline }

.block        { display: block }

.inline-block { display: inline-block }

.table        { display: table }

.table-cell   { display: table-cell }

.overflow-hidden { overflow: hidden }

.overflow-scroll { overflow: scroll }

.overflow-auto   { overflow: auto }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}

.clearfix:after { clear: both }

.left  { float: left }

.right { float: right }

.fit { max-width: 100% }

@for $i from 1 through $layout-count {
  .x#{$i} {width: #{$i * 16}rem;}
    .max-x#{$i} {max-width: #{$i * 16}rem;}
    .min-x#{$i} {min-width: #{$i * 16}rem;}
  .y#{$i} {height: #{$i * 16}rem;}
    .max-y#{$i} {max-height: #{$i * 16}rem;}
    .min-y#{$i} {min-height: #{$i * 16}rem;}
}

.border-box { box-sizing: border-box }

