input[type="checkbox"] {
  height: 1rem;
  width: 1rem; }

* {
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility; }

html,
body {
  min-height: 100vh;
  min-width: 100%; }

a {
  color: currentColor;
  text-decoration: none; }

textarea {
  resize: none; }

::selection {
  background: #fe7c60;
  color: #FFFFFF; }

input,
textarea {
  box-shadow: inset 0 1px 1px rgba(42, 61, 81, 0.1); }

/* Basscss Layout */
.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.table {
  display: table; }

.table-cell {
  display: table-cell; }

.overflow-hidden {
  overflow: hidden; }

.overflow-scroll {
  overflow: scroll; }

.overflow-auto {
  overflow: auto; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.fit {
  max-width: 100%; }

.x1 {
  width: 16rem; }

.max-x1 {
  max-width: 16rem; }

.min-x1 {
  min-width: 16rem; }

.y1 {
  height: 16rem; }

.max-y1 {
  max-height: 16rem; }

.min-y1 {
  min-height: 16rem; }

.x2 {
  width: 32rem; }

.max-x2 {
  max-width: 32rem; }

.min-x2 {
  min-width: 32rem; }

.y2 {
  height: 32rem; }

.max-y2 {
  max-height: 32rem; }

.min-y2 {
  min-height: 32rem; }

.x3 {
  width: 48rem; }

.max-x3 {
  max-width: 48rem; }

.min-x3 {
  min-width: 48rem; }

.y3 {
  height: 48rem; }

.max-y3 {
  max-height: 48rem; }

.min-y3 {
  min-height: 48rem; }

.x4 {
  width: 64rem; }

.max-x4 {
  max-width: 64rem; }

.min-x4 {
  min-width: 64rem; }

.y4 {
  height: 64rem; }

.max-y4 {
  max-height: 64rem; }

.min-y4 {
  min-height: 64rem; }

.x5 {
  width: 80rem; }

.max-x5 {
  max-width: 80rem; }

.min-x5 {
  min-width: 80rem; }

.y5 {
  height: 80rem; }

.max-y5 {
  max-height: 80rem; }

.min-y5 {
  min-height: 80rem; }

.x6 {
  width: 96rem; }

.max-x6 {
  max-width: 96rem; }

.min-x6 {
  min-width: 96rem; }

.y6 {
  height: 96rem; }

.max-y6 {
  max-height: 96rem; }

.min-y6 {
  min-height: 96rem; }

.border-box {
  box-sizing: border-box; }

.col-1 {
  width: calc(1/12 * 100%); }

.col-2 {
  width: calc(2/12 * 100%); }

.col-3 {
  width: calc(3/12 * 100%); }

.col-4 {
  width: calc(4/12 * 100%); }

.col-5 {
  width: calc(5/12 * 100%); }

.col-6 {
  width: calc(6/12 * 100%); }

.col-7 {
  width: calc(7/12 * 100%); }

.col-8 {
  width: calc(8/12 * 100%); }

.col-9 {
  width: calc(9/12 * 100%); }

.col-10 {
  width: calc(10/12 * 100%); }

.col-11 {
  width: calc(11/12 * 100%); }

.col-12 {
  width: calc(12/12 * 100%); }

@media (min-width: 32em) {
  .xs-col-1 {
    width: calc(1/12 * 100%); }

  .xs-col-2 {
    width: calc(2/12 * 100%); }

  .xs-col-3 {
    width: calc(3/12 * 100%); }

  .xs-col-4 {
    width: calc(4/12 * 100%); }

  .xs-col-5 {
    width: calc(5/12 * 100%); }

  .xs-col-6 {
    width: calc(6/12 * 100%); }

  .xs-col-7 {
    width: calc(7/12 * 100%); }

  .xs-col-8 {
    width: calc(8/12 * 100%); }

  .xs-col-9 {
    width: calc(9/12 * 100%); }

  .xs-col-10 {
    width: calc(10/12 * 100%); }

  .xs-col-11 {
    width: calc(11/12 * 100%); }

  .xs-col-12 {
    width: calc(12/12 * 100%); } }
@media (min-width: 40em) {
  .sm-col-1 {
    width: calc(1/12 * 100%); }

  .sm-col-2 {
    width: calc(2/12 * 100%); }

  .sm-col-3 {
    width: calc(3/12 * 100%); }

  .sm-col-4 {
    width: calc(4/12 * 100%); }

  .sm-col-5 {
    width: calc(5/12 * 100%); }

  .sm-col-6 {
    width: calc(6/12 * 100%); }

  .sm-col-7 {
    width: calc(7/12 * 100%); }

  .sm-col-8 {
    width: calc(8/12 * 100%); }

  .sm-col-9 {
    width: calc(9/12 * 100%); }

  .sm-col-10 {
    width: calc(10/12 * 100%); }

  .sm-col-11 {
    width: calc(11/12 * 100%); }

  .sm-col-12 {
    width: calc(12/12 * 100%); } }
@media (min-width: 52em) {
  .md-col-1 {
    width: calc(1/12 * 100%); }

  .md-col-2 {
    width: calc(2/12 * 100%); }

  .md-col-3 {
    width: calc(3/12 * 100%); }

  .md-col-4 {
    width: calc(4/12 * 100%); }

  .md-col-5 {
    width: calc(5/12 * 100%); }

  .md-col-6 {
    width: calc(6/12 * 100%); }

  .md-col-7 {
    width: calc(7/12 * 100%); }

  .md-col-8 {
    width: calc(8/12 * 100%); }

  .md-col-9 {
    width: calc(9/12 * 100%); }

  .md-col-10 {
    width: calc(10/12 * 100%); }

  .md-col-11 {
    width: calc(11/12 * 100%); }

  .md-col-12 {
    width: calc(12/12 * 100%); } }
@media (min-width: 64em) {
  .lg-col-1 {
    width: calc(1/12 * 100%); }

  .lg-col-2 {
    width: calc(2/12 * 100%); }

  .lg-col-3 {
    width: calc(3/12 * 100%); }

  .lg-col-4 {
    width: calc(4/12 * 100%); }

  .lg-col-5 {
    width: calc(5/12 * 100%); }

  .lg-col-6 {
    width: calc(6/12 * 100%); }

  .lg-col-7 {
    width: calc(7/12 * 100%); }

  .lg-col-8 {
    width: calc(8/12 * 100%); }

  .lg-col-9 {
    width: calc(9/12 * 100%); }

  .lg-col-10 {
    width: calc(10/12 * 100%); }

  .lg-col-11 {
    width: calc(11/12 * 100%); }

  .lg-col-12 {
    width: calc(12/12 * 100%); } }
.col {
  float: left;
  box-sizing: border-box; }

.col-right {
  float: right;
  box-sizing: border-box; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.mb-auto {
  margin-bottom: auto; }

.mt-auto {
  margin-top: auto; }

.mx-none {
  margin-left: none;
  margin-right: none; }

.my-none {
  margin-bottom: none;
  margin-top: none; }

.m-none {
  margin: none; }

.m0 {
  margin: 0rem; }

.mt0 {
  margin-top: 0rem; }

.mr0 {
  margin-right: 0rem; }

.mb0 {
  margin-bottom: 0rem; }

.ml0 {
  margin-left: 0rem; }

.my0 {
  margin-bottom: 0rem;
  margin-top: 0rem; }

.mx0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.mnt0 {
  margin-top: 0rem; }

.mnb0 {
  margin-bottom: 0rem; }

.mnx0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.m1 {
  margin: 0.5rem; }

.mt1 {
  margin-top: 0.5rem; }

.mr1 {
  margin-right: 0.5rem; }

.mb1 {
  margin-bottom: 0.5rem; }

.ml1 {
  margin-left: 0.5rem; }

.my1 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem; }

.mx1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.mnt1 {
  margin-top: 0.5rem; }

.mnb1 {
  margin-bottom: -0.5rem; }

.mnx1 {
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

.m2 {
  margin: 1rem; }

.mt2 {
  margin-top: 1rem; }

.mr2 {
  margin-right: 1rem; }

.mb2 {
  margin-bottom: 1rem; }

.ml2 {
  margin-left: 1rem; }

.my2 {
  margin-bottom: 1rem;
  margin-top: 1rem; }

.mx2 {
  margin-left: 1rem;
  margin-right: 1rem; }

.mnt2 {
  margin-top: 1rem; }

.mnb2 {
  margin-bottom: -1rem; }

.mnx2 {
  margin-left: -1rem;
  margin-right: -1rem; }

.m3 {
  margin: 1.5rem; }

.mt3 {
  margin-top: 1.5rem; }

.mr3 {
  margin-right: 1.5rem; }

.mb3 {
  margin-bottom: 1.5rem; }

.ml3 {
  margin-left: 1.5rem; }

.my3 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem; }

.mx3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.mnt3 {
  margin-top: 1.5rem; }

.mnb3 {
  margin-bottom: -1.5rem; }

.mnx3 {
  margin-left: -1.5rem;
  margin-right: -1.5rem; }

.m4 {
  margin: 2rem; }

.mt4 {
  margin-top: 2rem; }

.mr4 {
  margin-right: 2rem; }

.mb4 {
  margin-bottom: 2rem; }

.ml4 {
  margin-left: 2rem; }

.my4 {
  margin-bottom: 2rem;
  margin-top: 2rem; }

.mx4 {
  margin-left: 2rem;
  margin-right: 2rem; }

.mnt4 {
  margin-top: 2rem; }

.mnb4 {
  margin-bottom: -2rem; }

.mnx4 {
  margin-left: -2rem;
  margin-right: -2rem; }

.m5 {
  margin: 2.5rem; }

.mt5 {
  margin-top: 2.5rem; }

.mr5 {
  margin-right: 2.5rem; }

.mb5 {
  margin-bottom: 2.5rem; }

.ml5 {
  margin-left: 2.5rem; }

.my5 {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem; }

.mx5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

.mnt5 {
  margin-top: 2.5rem; }

.mnb5 {
  margin-bottom: -2.5rem; }

.mnx5 {
  margin-left: -2.5rem;
  margin-right: -2.5rem; }

.m6 {
  margin: 3rem; }

.mt6 {
  margin-top: 3rem; }

.mr6 {
  margin-right: 3rem; }

.mb6 {
  margin-bottom: 3rem; }

.ml6 {
  margin-left: 3rem; }

.my6 {
  margin-bottom: 3rem;
  margin-top: 3rem; }

.mx6 {
  margin-left: 3rem;
  margin-right: 3rem; }

.mnt6 {
  margin-top: 3rem; }

.mnb6 {
  margin-bottom: -3rem; }

.mnx6 {
  margin-left: -3rem;
  margin-right: -3rem; }

.m7 {
  margin: 3.5rem; }

.mt7 {
  margin-top: 3.5rem; }

.mr7 {
  margin-right: 3.5rem; }

.mb7 {
  margin-bottom: 3.5rem; }

.ml7 {
  margin-left: 3.5rem; }

.my7 {
  margin-bottom: 3.5rem;
  margin-top: 3.5rem; }

.mx7 {
  margin-left: 3.5rem;
  margin-right: 3.5rem; }

.mnt7 {
  margin-top: 3.5rem; }

.mnb7 {
  margin-bottom: -3.5rem; }

.mnx7 {
  margin-left: -3.5rem;
  margin-right: -3.5rem; }

.m8 {
  margin: 4rem; }

.mt8 {
  margin-top: 4rem; }

.mr8 {
  margin-right: 4rem; }

.mb8 {
  margin-bottom: 4rem; }

.ml8 {
  margin-left: 4rem; }

.my8 {
  margin-bottom: 4rem;
  margin-top: 4rem; }

.mx8 {
  margin-left: 4rem;
  margin-right: 4rem; }

.mnt8 {
  margin-top: 4rem; }

.mnb8 {
  margin-bottom: -4rem; }

.mnx8 {
  margin-left: -4rem;
  margin-right: -4rem; }

.p1 {
  padding: 0.5rem; }

.pt1 {
  padding-top: 0.5rem; }

.pb1 {
  padding-bottom: 0.5rem; }

.pl1 {
  padding-left: 0.5rem; }

.pr1 {
  padding-right: 0.5rem; }

.py1 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem; }

.px1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.p2 {
  padding: 1rem; }

.pt2 {
  padding-top: 1rem; }

.pb2 {
  padding-bottom: 1rem; }

.pl2 {
  padding-left: 1rem; }

.pr2 {
  padding-right: 1rem; }

.py2 {
  padding-bottom: 1rem;
  padding-top: 1rem; }

.px2 {
  padding-left: 1rem;
  padding-right: 1rem; }

.p3 {
  padding: 1.5rem; }

.pt3 {
  padding-top: 1.5rem; }

.pb3 {
  padding-bottom: 1.5rem; }

.pl3 {
  padding-left: 1.5rem; }

.pr3 {
  padding-right: 1.5rem; }

.py3 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem; }

.px3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.p4 {
  padding: 2rem; }

.pt4 {
  padding-top: 2rem; }

.pb4 {
  padding-bottom: 2rem; }

.pl4 {
  padding-left: 2rem; }

.pr4 {
  padding-right: 2rem; }

.py4 {
  padding-bottom: 2rem;
  padding-top: 2rem; }

.px4 {
  padding-left: 2rem;
  padding-right: 2rem; }

.p5 {
  padding: 2.5rem; }

.pt5 {
  padding-top: 2.5rem; }

.pb5 {
  padding-bottom: 2.5rem; }

.pl5 {
  padding-left: 2.5rem; }

.pr5 {
  padding-right: 2.5rem; }

.py5 {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem; }

.px5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

.p6 {
  padding: 3rem; }

.pt6 {
  padding-top: 3rem; }

.pb6 {
  padding-bottom: 3rem; }

.pl6 {
  padding-left: 3rem; }

.pr6 {
  padding-right: 3rem; }

.py6 {
  padding-bottom: 3rem;
  padding-top: 3rem; }

.px6 {
  padding-left: 3rem;
  padding-right: 3rem; }

.p7 {
  padding: 3.5rem; }

.pt7 {
  padding-top: 3.5rem; }

.pb7 {
  padding-bottom: 3.5rem; }

.pl7 {
  padding-left: 3.5rem; }

.pr7 {
  padding-right: 3.5rem; }

.py7 {
  padding-bottom: 3.5rem;
  padding-top: 3.5rem; }

.px7 {
  padding-left: 3.5rem;
  padding-right: 3.5rem; }

.p8 {
  padding: 4rem; }

.pt8 {
  padding-top: 4rem; }

.pb8 {
  padding-bottom: 4rem; }

.pl8 {
  padding-left: 4rem; }

.pr8 {
  padding-right: 4rem; }

.py8 {
  padding-bottom: 4rem;
  padding-top: 4rem; }

.px8 {
  padding-left: 4rem;
  padding-right: 4rem; }

/* Basscss Align */
.align-baseline {
  vertical-align: baseline; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.top-0 {
  top: 0; }

.right-0 {
  right: 0; }

.bottom-0 {
  bottom: 0; }

.left-0 {
  left: 0; }

.cover {
  background-size: cover;
  object-fit: cover; }

.z1 {
  z-index: 1; }

.z2 {
  z-index: 2; }

.z3 {
  z-index: 3; }

.z4 {
  z-index: 4; }

.z5 {
  z-index: 5; }

.z6 {
  z-index: 6; }

.z7 {
  z-index: 7; }

.z8 {
  z-index: 8; }

.z9 {
  z-index: 9; }

.z10 {
  z-index: 10; }

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.invisible {
  visibility: hidden; }

.display-none {
  display: none !important; }

@media (min-width: 32em) {
  .xs-hide {
    display: none !important; } }
@media (min-width: 40em) {
  .sm-hide {
    display: none !important; } }
@media (min-width: 52em) {
  .md-hide {
    display: none !important; } }
@media (min-width: 64em) {
  .lg-hide {
    display: none !important; } }
/* Basscss Border */
.border {
  border-style: solid;
  border-width: 1px; }

.border-top {
  border-top-style: solid;
  border-top-width: 1px; }

.border-right {
  border-right-style: solid;
  border-right-width: 1px; }

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px; }

.border-left {
  border-left-style: solid;
  border-left-width: 1px; }

.border-none {
  border: 0; }

.rounded {
  border-radius: 3px; }

.circle {
  border-radius: 50%; }

.rounded-top {
  border-radius: 3px 3px 0 0; }

.rounded-right {
  border-radius: 0 3px 3px 0; }

.rounded-bottom {
  border-radius: 0 0 3px 3px; }

.rounded-left {
  border-radius: 3px 0 0 3px; }

.not-rounded {
  border-radius: 0; }

.bg-page {
  background-color: #D4D8DC; }

.bg-component {
  background-color: #FFFFFF; }

.bg-brand {
  background-color: #fe7c60; }

.bg-brand-high {
  background-color: #1B7EFF; }

.bg-id-low {
  background-color: #0069F2; }

.bg-id-gradient {
  background: radial-gradient(farthest-corner at 0% 0%, #1B7EFF, #0069F2); }

.bg-success {
  background-color: #26D58F; }

.bg-success-high {
  background-color: #F7D830; }

.bg-id-low {
  background-color: #DEC22B; }

.bg-id-gradient {
  background: radial-gradient(farthest-corner at 0% 0%, #F7D830, #DEC22B); }

.bg-attention {
  background-color: #EBCD2E; }

.bg-attention-high {
  background-color: #28E398; }

.bg-id-low {
  background-color: #24C987; }

.bg-id-gradient {
  background: radial-gradient(farthest-corner at 0% 0%, #28E398, #24C987); }

.bg-danger {
  background-color: #E91C53; }

.bg-danger-high {
  background-color: #F51D57; }

.bg-id-low {
  background-color: #DB1A4E; }

.bg-id-gradient {
  background: radial-gradient(farthest-corner at 0% 0%, #F51D57, #DB1A4E); }

/* Basscss Btn */
.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125rem;
  padding: 0.5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent; }

.btn:hover {
  text-decoration: none; }

.btn:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25); }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Basscss Btn Outline */
.btn-outline,
.btn-outline:hover {
  border-color: currentcolor; }

.btn-outline {
  border-radius: 3px; }

.btn-outline:hover {
  box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, 0.0625); }

.btn-outline:active {
  box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, 0.125), inset 0 3px 4px 0 rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.125); }

.btn-outline:disabled,
.btn-outline.is-disabled {
  opacity: .5; }

/* Basscss Btn Primary */
.btn-primary {
  color: #fff;
  background-color: #0074d9;
  border-radius: 3px; }

.btn-primary:hover {
  box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, 0.0625); }

.btn-primary:active {
  box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, 0.125), inset 0 3px 4px 0 rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.125); }

.btn-primary:disabled,
.btn-primary.is-disabled {
  opacity: .5; }

.color-primary {
  color: #2A3D51; }

.fill-primary {
  fill: #2A3D51; }

.border-primary {
  border-color: #2A3D51; }

.color-secondary {
  color: #7F8A96; }

.fill-secondary {
  fill: #7F8A96; }

.border-secondary {
  border-color: #7F8A96; }

.color-tertiary {
  color: #D4D8DC; }

.fill-tertiary {
  fill: #D4D8DC; }

.border-tertiary {
  border-color: #D4D8DC; }

.color-placeholder {
  color: #E1ECF2; }

.fill-placeholder {
  fill: #E1ECF2; }

.border-placeholder {
  border-color: #E1ECF2; }

.color-inverted {
  color: #FFFFFF; }

.fill-inverted {
  fill: #FFFFFF; }

.border-inverted {
  border-color: #FFFFFF; }

.color-brand {
  color: #fe7c60; }

.color-brand-high {
  color: #1B7EFF; }

.color-brand-low {
  color: #0069F2; }

.fill-brand {
  fill: #fe7c60; }

.fill-brand-high {
  fill: #1B7EFF; }

.fill-brand-low {
  fill: #0069F2; }

.color-success {
  color: #26D58F; }

.color-success-high {
  color: #F7D830; }

.color-success-low {
  color: #DEC22B; }

.fill-success {
  fill: #26D58F; }

.fill-success-high {
  fill: #F7D830; }

.fill-success-low {
  fill: #DEC22B; }

.color-attention {
  color: #EBCD2E; }

.color-attention-high {
  color: #28E398; }

.color-attention-low {
  color: #24C987; }

.fill-attention {
  fill: #EBCD2E; }

.fill-attention-high {
  fill: #28E398; }

.fill-attention-low {
  fill: #24C987; }

.color-danger {
  color: #E91C53; }

.color-danger-high {
  color: #F51D57; }

.color-danger-low {
  color: #DB1A4E; }

.fill-danger {
  fill: #E91C53; }

.fill-danger-high {
  fill: #F51D57; }

.fill-danger-low {
  fill: #DB1A4E; }

body {
  font-family: "latoregular"; }

/* Basscss Typography */
.font-family-inherit {
  font-family: inherit; }

.font-size-inherit {
  font-size: inherit; }

.text-decoration-none {
  text-decoration: none; }

.bold {
  font-weight: bold; }

.regular {
  font-weight: normal; }

.italic {
  font-style: italic; }

.caps {
  text-transform: uppercase;
  letter-spacing: 0.2em; }

.left-align {
  text-align: left; }

.center {
  text-align: center; }

.right-align {
  text-align: right; }

.justify {
  text-align: justify; }

.nowrap {
  white-space: nowrap; }

.break-word {
  word-wrap: break-word; }

.line-height-1 {
  line-height: 1; }

.line-height-2 {
  line-height: 1.125; }

.line-height-3 {
  line-height: 1.25; }

.line-height-4 {
  line-height: 1.67; }

.list-style-none {
  list-style: none; }

.underline {
  text-decoration: underline; }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.list-reset {
  list-style: none;
  padding-left: 0;
  margin: 0; }

/* Basscss Type Scale */
.h1 {
  font-size: 2rem;
  line-height: 1.67; }

.h2 {
  font-size: 1.5rem;
  line-height: 1.67; }

.h3 {
  font-size: 1.25rem;
  line-height: 1.67; }

.h4 {
  font-size: 1rem;
  line-height: 1.67; }

.h5 {
  font-size: 0.875rem;
  line-height: 1.67; }

.h6 {
  font-size: 0.75rem;
  line-height: 1.67; }

@font-face {
  font-family: 'riddleregular';
  src: url("../fonts/riddle_script/riddle-script-webfont.eot");
  src: url("../fonts/riddle_script/riddle-script-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/riddle_script/riddle-script-webfont.woff") format("woff"), url("../fonts/riddle_script/riddle-script-webfont.ttf") format("truetype"), url("../fonts/riddle_script/riddle-script-webfont.svg#riddleregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoregular';
  src: url("../fonts/skyfonts-google/lato_regular-webfont.eot");
  src: url("../fonts/skyfonts-google/lato_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/skyfonts-google/lato_regular-webfont.woff") format("woff"), url("../fonts/skyfonts-google/lato_regular-webfont.ttf") format("truetype"), url("../fonts/skyfonts-google/lato_regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latobold';
  src: url("../fonts/skyfonts-google/lato_700-webfont.eot");
  src: url("../fonts/skyfonts-google/lato_700-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/skyfonts-google/lato_700-webfont.woff") format("woff"), url("../fonts/skyfonts-google/lato_700-webfont.ttf") format("truetype"), url("../fonts/skyfonts-google/lato_700-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoblack';
  src: url("../fonts/skyfonts-google/lato_900-webfont.eot");
  src: url("../fonts/skyfonts-google/lato_900-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/skyfonts-google/lato_900-webfont.woff") format("woff"), url("../fonts/skyfonts-google/lato_900-webfont.ttf") format("truetype"), url("../fonts/skyfonts-google/lato_900-webfont.svg#latoblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latolight';
  src: url("../fonts/skyfonts-google/lato_300-webfont.eot");
  src: url("../fonts/skyfonts-google/lato_300-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/skyfonts-google/lato_300-webfont.woff") format("woff"), url("../fonts/skyfonts-google/lato_300-webfont.ttf") format("truetype"), url("../fonts/skyfonts-google/lato_300-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latohairline';
  src: url("../fonts/skyfonts-google/lato_100-webfont.eot");
  src: url("../fonts/skyfonts-google/lato_100-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/skyfonts-google/lato_100-webfont.woff") format("woff"), url("../fonts/skyfonts-google/lato_100-webfont.ttf") format("truetype"), url("../fonts/skyfonts-google/lato_100-webfont.svg#latohairline") format("svg");
  font-weight: normal;
  font-style: normal; }
.font-logo {
  font-family: "riddleregular";
  font-size: 60px; }

.font-light {
  font-family: "latolight"; }

a {
  text-decoration: none; }

.container {
  width: 80rem;
  margin-left: auto;
  margin-right: auto; }

/*# sourceMappingURL=basscss.css.map */
